{{define "content"}}
<div class="columns is-centered">
    <div class="column is-8-desktop is-10-tablet">
        <article class="box">
            {{template "entry-header" (dict "Entry" .Entry "Tags" .Tags "Actions" true)}}

            <div class="content">{{template "note-body" .}}</div>

            {{template "entry-footer" .}}
        </article>
    </div>
</div>
{{end}}

{{define "entry-header-actions"}}
<div
    x-data="{
        copied: false,
        copyToClipboard() {
            // Find the note render area in the document
            const el = document.querySelector('.note-render-area');
            if (!el) return;
            const text = el.innerText;
            navigator.clipboard.writeText(text).then(() => {
                this.copied = true;
                setTimeout(() => this.copied = false, 2000);
            });
        }
    }"
    @click.stop="copyToClipboard()"
    class="copy-action-trigger"
>
    <span
        x-show="copied"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 transform translate-x-2"
        x-transition:enter-end="opacity-100 transform translate-x-0"
        x-transition:leave="transition ease-in duration-200"
        class="tag is-success is-light is-small"
        x-cloak
    >
        Copied!
    </span>
    <button
        class="button is-ghost p-0 no-underline h-auto"
        title="Copy to clipboard"
    >
        <span
            class="icon"
            :class="{ 'has-text-success': copied, 'text-grey-light': !copied }"
        >
            <template x-if="!copied">
                {{template "icon-copy" (dict "size" 18)}}
            </template>
            <template x-if="copied">
                {{template "icon-check" (dict "size" 18)}}
            </template>
        </span>
    </button>
</div>
{{end}}
