{{define "content"}}
<article class="box">
    <div class="level">
        <div class="level-left">
            <h1 class="title">{{.Entry.Title}}</h1>
        </div>
        <div class="level-right">
            <time class="is-size-7 has-text-grey">
                {{.Entry.UpdatedAt.Format "2 Jan 2006, 15:04"}}
            </time>
        </div>
    </div>

    {{if .Tags}}
    <div class="tags">
        {{range .Tags}}
        <a href="/tags/{{.Name}}" class="tag is-light">{{.Name}}</a>
        {{end}}
    </div>
    {{end}}

    {{template "note-body" .}}

    <div class="buttons">
        <a href="/notes/{{.Entry.ID}}/edit" class="button is-info is-light"
            >Edit</a
        >
        <form method="POST" action="/notes/{{.Entry.ID}}/delete">
            <button type="submit" class="button is-danger is-light">
                Delete
            </button>
        </form>
        <a href="/" class="button is-light">Back</a>
    </div>
</article>
{{end}}
