{{define "entry-footer"}}
<footer class="entry-view-footer">
    <div class="level is-mobile">
        <div class="level-left">
            <a href="/" class="button is-ghost has-text-grey p-0 no-underline">
                <span class="icon">
                    {{template "icon-chevron-left" (dict "size" 18)}}
                </span>
                <span>Back to Dashboard</span>
            </a>
        </div>
        <div class="level-right">
            <div class="buttons">
                <a href="/{{.Entry.EntryType}}s/{{.Entry.ID}}/edit" class="button is-light is-info-light">
                    <span class="icon is-small">
                        {{template "icon-edit" (dict "size" 16)}}
                    </span>
                    <span>Edit</span>
                </a>
                {{template "delete-button" (dict 
                    "HTMX" false 
                    "URL" (printf "/%ss/%s/delete" .Entry.EntryType .Entry.ID)
                )}}
            </div>
        </div>
    </div>
</footer>
{{end}}
