{{define "entry-list"}}
<div id="entry-list">
    {{if .Entries}}
    <div class="columns is-multiline">
        {{range .Entries}}
        <div class="column is-one-third">
            <div
                class="card"
                x-data="{ hovered: false }"
                @mouseenter="hovered = true"
                @mouseleave="hovered = false"
                :class="{ 'is-hovered': hovered }"
                @click="window.location = '/{{.EntryType}}s/{{.ID}}'"
            >
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <a href="/{{.EntryType}}s/{{.ID}}">
                                <p class="title is-5">{{.Title}}</p>
                            </a>
                        </div>
                        <div class="level-right">
                            <span class="tag type-{{.EntryType}}"
                                >{{.EntryType}}</span
                            >
                        </div>
                    </div>

                    <div class="card-meta">
                        {{$tags := index $.EntryTags .ID}} {{if $tags}}
                        <div class="tags">
                            {{range $tags}}
                            <a
                                href="/tags/{{.Name}}"
                                class="tag is-light"
                                hx-get="/tags/{{.Name}}"
                                hx-target="#entry-list"
                                hx-swap="outerHTML"
                                hx-push-url="true"
                                @click.stop
                                >{{.Name}}</a
                            >
                            {{end}}
                        </div>
                        {{end}}

                        <time class="is-size-7 has-text-grey">
                            {{.UpdatedAt.Format "2 Jan 2006"}}
                        </time>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    {{else}}
    <p class="has-text-grey">No entries yet. Click + to create one.</p>
    {{end}}
</div>
{{end}}
