{{define "content"}}
<article class="box">
    <div class="level">
        <div class="level-left">
            <h1 class="title">{{.Entry.Title}}</h1>
        </div>
        <div class="level-right">
            <time class="is-size-7 has-text-grey">
                {{.Entry.UpdatedAt.Format "2 Jan 2006, 15:04"}}
            </time>
        </div>
    </div>

    {{if .Tags}}
    <div class="tags">
        {{range .Tags}}
        <a href="/tags/{{.Name}}" class="tag is-light">{{.Name}}</a>
        {{end}}
    </div>
    {{end}}

    <!-- Todo items -->
    <div class="block" id="todo-items">
        {{range .Todo}}
        <div class="level is-mobile mb-2">
            <div class="level-left">
                <form
                    method="POST"
                    action="/todos/{{$.Entry.ID}}/items/{{.ID}}/toggle"
                >
                    <button type="submit" class="button is-small is-light mr-2">
                        {{if .IsDone}}☑{{else}}☐{{end}}
                    </button>
                </form>
                <span
                    class="{{if .IsDone}}has-text-grey-light{{end}}"
                    style="{{if .IsDone}}text-decoration: line-through{{end}}"
                >
                    {{.Body}}
                </span>
            </div>
            <div class="level-right">
                <form
                    method="POST"
                    action="/todos/{{$.Entry.ID}}/items/{{.ID}}/delete"
                >
                    <button
                        type="submit"
                        class="button is-small is-danger is-light"
                    >
                        ✕
                    </button>
                </form>
            </div>
        </div>
        {{end}}
    </div>

    <!-- Add item -->
    <div class="field has-addons">
        <form
            method="POST"
            action="/todos/{{.Entry.ID}}/items"
            class="field has-addons"
            style="width: 100%"
        >
            <div class="control is-expanded">
                <input
                    class="input"
                    type="text"
                    name="body"
                    placeholder="Add new item..."
                    required
                />
            </div>
            <div class="control">
                <button type="submit" class="button is-primary">Add</button>
            </div>
        </form>
    </div>

    <hr />

    <div class="buttons">
        <a href="/todos/{{.Entry.ID}}/edit" class="button is-info is-light"
            >Edit</a
        >
        <form method="POST" action="/todos/{{.Entry.ID}}/delete">
            <button type="submit" class="button is-danger is-light">
                Delete
            </button>
        </form>
        <a href="/" class="button is-light">Back</a>
    </div>
</article>
{{end}}
