{{define "content"}}
<div class="columns is-centered">
    <div class="column is-8-desktop is-10-tablet">
        <article class="box">
            {{template "entry-header" (dict "Entry" .Entry "Tags" .Tags)}}

            <!-- Todo items -->
            {{template "todo-items" .}}

            <!-- Add item -->
            <div class="mt-5">
                <form
                    hx-post="/todos/{{.Entry.ID}}/items"
                    hx-target="#todo-items"
                    hx-swap="outerHTML"
                    hx-on::after-request="if(event.detail.successful) this.reset()"
                    class="field has-addons"
                >
                    <div class="control is-expanded">
                        <input
                            class="input is-shadowless"
                            type="text"
                            name="body"
                            placeholder="Add a new task..."
                            required
                            style="
                                background-color: var(--bulma-scheme-main-ter);
                                border: none;
                            "
                        />
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-light">
                            <span class="icon">
                                {{template "icon-plus" (dict "size" 18)}}
                            </span>
                            <span>Add</span>
                        </button>
                    </div>
                </form>
            </div>

            {{template "entry-footer" .}}
        </article>
    </div>
</div>
{{end}}

{{define "entry-header-actions"}}{{end}}
