{{define "todo-items"}}
<div
    class="block"
    id="todo-items"
    x-data="{
        total: {{len .Todo}},
        done: {{range .Todo}}{{if .IsDone}}1 + {{end}}{{end}}0
    }"
>
    <!-- Progress Indicator - Only show if there are items -->
    <template x-if="total > 0">
        <div class="mb-5">
            <div class="flex-between-center mb-2">
                <span class="is-size-7 text-grey-light">PROGRESS</span>
                <span
                    class="is-size-7 text-grey-light"
                    x-text="`${Math.round((done/total) * 100) || 0}%` "
                ></span>
            </div>
            <progress
                class="progress is-primary is-small"
                :value="done"
                :max="total"
                x-text="`${(done/total) * 100}%`"
            ></progress>
        </div>
    </template>

    {{range .Todo}}
    <div class="level is-mobile todo-item-row mb-1">
        <div class="level-left">
            <button
                class="button todo-checkbox p-0 {{if .IsDone}}is-done{{end}}"
                hx-post="/todos/{{$.Entry.ID}}/items/{{.ID}}/toggle"
                hx-target="#todo-items"
                hx-swap="outerHTML"
                title="{{if .IsDone}}Mark as incomplete{{else}}Mark as complete{{end}}"
            >
                <span class="icon">
                    {{if .IsDone}}
                        {{template "icon-check-circle" (dict "size" 20)}}
                    {{else}}
                        {{template "icon-circle" (dict "size" 20)}}
                    {{end}}
                </span>
            </button>
            <span class="todo-body-text ml-2 {{if .IsDone}}is-done{{end}}">
                {{.Body}}
            </span>
        </div>
        {{template "delete-button" (dict 
            "HTMX" true 
            "URL" (printf "/todos/%s/items/%s/delete" $.Entry.ID .ID)
            "Target" "#todo-items"
            "Small" true
            "Title" "Delete item"
            "Class" "level-right"
        )}}
    </div>
    {{else}}
    <p class="text-grey-light is-italic py-4 has-text-centered">
        No items yet. Add one below!
    </p>
    {{end}}
</div>
{{end}}
