{{define "bookmark-items"}}
<div class="block" id="bookmark-items">
    {{if .BookmarkItems}}
        {{range .BookmarkItems}}
        <div class="level is-mobile bookmark-item-row mb-1">
            <div class="level-left overflow-hidden flex-shrink-1">
                <div class="overflow-hidden w-full">
                    <div class="flex-align-center">
                        <span class="icon is-small text-grey-light mr-2">
                            {{template "icon-link" (dict "size" 16)}}
                        </span>
                        <a
                            href="{{.URL}}"
                            target="_blank"
                            class="has-text-link ellipsis"
                        >
                            {{.URL}}
                        </a>
                    </div>
                    <div class="flex-align-center mt-1">
                        {{if .LastCheckedAt}}
                            {{if .LastStatus}}
                                <span class="tag is-success is-light is-small py-0 px-2 tag-height-small">{{.LastStatus}}</span>
                            {{else}}
                                <span class="tag is-danger is-light is-small py-0 px-2 tag-height-small">Failed</span>
                            {{end}}
                            <span class="is-size-7 text-grey-light ml-2">
                                Checked {{.LastCheckedAt.Format "2 Jan, 15:04"}}
                            </span>
                        {{else}}
                            <span class="tag is-warning is-light is-small py-0 px-2 tag-height-small">Not checked</span>
                        {{end}}
                    </div>
                </div>
            </div>
            {{template "delete-button" (dict 
                "HTMX" true 
                "URL" (printf "/bookmarks/%s/items/%s/delete" $.Entry.ID .ID)
                "Target" "#bookmark-items"
                "Small" true
                "Title" "Delete link"
                "Class" "level-right ml-3 flex-shrink-0"
            )}}
        </div>
        {{end}}
    {{else}}
        <p class="text-grey-light is-italic py-4 has-text-centered">
            No URLs yet. Add one below!
        </p>
    {{end}}
</div>
{{end}}
